<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ProyectoTaller.Properties.Settings.ConnectionString"
            connectionString="Data Source=TINTO-PC\SQLEXPRESS;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="ProyectoTaller.Properties.Settings.ProyectoTallerConnectionString"
            connectionString="Data Source=TINTO-PC\SQLEXPRESS;Initial Catalog=ProyectoTaller;User ID=sa;Password=tinto666"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>